@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(185, 185, 185, 0.8);
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.9);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.9);
}

@layer base {
  body {
    @apply overflow-x-hidden bg-base-300;
  }
}

/* Ensure the body and html take full height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure the root div takes full height */
#root {
  height: 100%;
}

/* Flex container for the app */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Fixed height for the navbar */
.navbar {
  flex-shrink: 0;
}

/* Make content container expand to fill remaining space */
.content-container {
  flex-grow: 1;
  overflow-y: auto;
}
